@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

ol,
ul,
li {
    list-style: none;
}

ul::after,
ol::after {
    content: "";
    display: block;
    clear: both;
}

a {
    display: block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}