@charset "utf-8";

html,
body {
    width: 100%;
    height: 100%;

    /*  overflow: hidden; */
}

section {}

article.gate {
    width: 100%;
    margin-top: 100px;
    background: url(../img/04_beyondCarboon/main.png) no-repeat bottom;
}

article.gate h2 {
    font-family: "Bona Nova SC", serif;
    font-size: 50px;
    font-size: 3.125rem;
    color: #fff;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 50px;

}

article.gate p {
    font-size: 18px;
    font-size: 1.125rem;
    color: #fff;
    text-align: center;

    position: relative;
    /* 가상요소 기준 */
}

article.gate p::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;

    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, 50%);
}

/* -------------------------------.footprint----------------------------- */

article.footprint {

    width: 80%;
    max-width: 1280px;
    margin: 0 auto;

    height: 670px;
    background: url(../img/04_beyondCarboon/footprint.png) no-repeat left;

    position: relative;
    /* .footprint-txt기준 */
}

article.footprint .footprint-txt {
    /*  outline: 2px solid salmon; */
    width: 40%;
    max-width: 630px;

    position: absolute;
    right: 0;
    bottom: 5%;
}

article.footprint .footprint-txt h2 {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

article.footprint .footprint-txt .footprint-des {
    word-break: keep-all;
}

.footprint-txt .footprint-des p {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

/* -------------------------------.slider--------------------------- */
section.slider {
    width: 100%;
    height: 100%;

    /* overflow: hidden; */
}

article.slide-wrap {
    width: 600%;
    height: 100%;

    /* .slide 영역에서 이동할 요소!  */
    position: relative;
    left: 0;
}

article.slide-wrap div.step {
    float: left;
    width: 16.66%;
    height: 100%;

    background: url(../img/04_beyondCarboon/bg_1.png) no-repeat top/cover;
}

article.slide-wrap div.step .bg {
    padding-top: 9%;
    box-sizing: border-box;
}

div.step .intro-des {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 14%;
    /* outline: 2px solid mediumspringgreen; */

    color: #fff;
}

div.step .intro-des h2 {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 60px;
}

div.step .intro-des p {
    font-size: 20px;
    font-size: 1.25rem;
}


div.step .pager {
    width: 80%;
    max-width: 1280px;
    margin: 0px auto;

    position: relative;
    /* transform: translateX(-50%); */
    /* 가상요소 기준! */
    /* outline: 2px solid red; */

}


div.step .pager::before {
    content: "";
    width: 1280px;
    height: 2px;
    background-color: #999;
    display: block;

    position: absolute;
    left: 50%;
    bottom: -50%;

    transform: translateX(-50%);
}

div.step .pager .pager-box {

/*     position: sticky;
    bottom: 12%; */

    /* outline: 2px solid plum; */
}

.pager .pager-box a {
    float: left;
    width: 16.66%;
    color: #999;
    text-align: center;

    position: relative;
}

.pager .pager-box a span {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #999;

    position: absolute;
    left: 47%;
    bottom: -75%;
}


div.step .content {
    width: 80%;
    max-width: 1280px;
    height: 70%;
    max-height: 420px;
    margin: 0 auto;
    margin-bottom: 5%;
    border-radius: 30px;
    position: relative;
    /* .img-box 기준 */

    background-color: #fff;
}

div.step .content .img-box {
    position: absolute;
    left: 6%;
    top: -10%;

    width: 36%;
    max-width: 450px;
}

.content .img-box img {
    display: block;
    width: 100%;
}

div.step .content .info-box {
    position: absolute;
    right: 11%;
    top: 10%;

    width: 40%;
    max-width: 455px;
}

.content .info-box .tit-box {
    margin-bottom: 40px;
    position: relative;
    /* 가상요소 기준 */
}

.content .info-box .tit-box::after {
    content: "";
    width: 100px;
    height: 1px;
    display: block;
    background-color: #d9d9d9;

    position: absolute;
    left: 0;
    bottom: -13%;
}

.content .info-box .tit-box .nth {
    font-weight: 600;
    font-size: 24px;
    font-size: 1.5rem;
}

.content .info-box .tit-box .main-tit {
    font-weight: 700;
    font-size: 40px;
    font-size: 2.5rem;
}

.content .info-box .tit-box .sub-tit {
    font-size: 20px;
    font-size: 1.25rem;
}

.content .info-box .des-box {}

.content .info-box .des-box p {
    word-break: keep-all;
}

#nth4 .content .info-box .des-box p {
    font-size: 15px;
    font-size: 0.9375rem;
}

article.slide-wrap div.final {
    background: url(../img/04_beyondCarboon/bg_2.png) no-repeat center/cover;
}

div.final .intro-des p>span {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300;
}

/* ---------------------------------.active------------------------------------ */

.pager .pager-box a.active {
    color: #FDB01F;
}

.pager .pager-box a.active span {
    background-color: #FDB01F;
}