body {
    background-color: #000;
    color: #fff;
}

a {
    color: #fff;
}

.gate {
    width: 80%;
    max-width: 1280px;
    margin: 100px auto;

    /* outline: 2px solid lime; */
}

.gate .gate-title {
    padding-top: 120px;
    box-sizing: border-box;
    font-size: 50px;
    font-size: 3.125rem;
}

.gate .gate-title h2 {
    font-weight: 700;
}


/* -------------footid-info------------ */

.footid-info {
    text-align: center;
    width: 100%;
    height: 1130px;
    background: url(../img/08_footIdService/footscan.jpg) no-repeat;
    background-position: bottom center;

    margin-bottom: 120px;
    /* outline: 2px solid red; */
}

.footid-info .tit {
    font-weight: 600;
    margin-bottom: 80px;

    /* jquery를 위한 초기 설정 */
    opacity: 0;
}

.footid-info .tit p {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 32px;
}

.footid-info .tit h3 {
    font-size: 42px;
    font-size: 2.625rem;
    font-weight: 600;
}

.footid-info .footid-des {
    margin-bottom: 80px;

    /* jquery를 위한 초기 설정 */
    opacity: 0;
}

.footid-info .footid-des p {
    font-size: 18px;
    font-size: 1.125rem;

    margin-bottom: 30px;
}

.footid-info .footid-des p>b {
    font-size: 26px;
    font-size: 1.625rem;
}

.footid-info .footid-des p:last-child {
    margin-bottom: 60px;
}

.footid-info .footid-des2 {
    /* jquery를 위한 초기 설정 */
    opacity: 0;
}

.footid-info .footid-des2 h3 {
    font-weight: 600;
    font-size: 30px;
    font-size: 1.875rem;
}



/* -------------------slider------------------ */
.slider {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto 150px;

    position: relative;
    /* .btn 기준 */
    overflow: hidden;

    /* outline: 2px solid lime; */
}

.slider ul {
    width: 400%;

    /* outline: 2px solid tomato; */
}

.slider ul .page {
    float: left;
    width: 25%;
}

.slider ul .page img {
    display: block;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

.page .page-tit {
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
}

.page .page-tit p {
    font-weight: 600;
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 40px;
}

.page .page-des {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

.page .page-des p {
    word-break: keep-all;
    font-size: 18px;
}

.slider .btn {}

.slider .btn .prev {
    position: absolute;
    left: 0;
    top: 50%;

    background: url(../img/08_footIdService/prev.png) no-repeat;
    width: 70px;
    height: 70px;
    font-size: 0;
}

.slider .btn .next {
    position: absolute;
    right: 0;
    top: 50%;

    background: url(../img/08_footIdService/next.png) no-repeat;
    width: 70px;
    height: 70px;
    font-size: 0;
}


/* -------------------youtube------------------ */

.youtube-box {
    margin-bottom: 200px;
    /* outline: 2px solid red; */
}

.youtube-box .video-box {
    text-align: center;
}

.youtube-box .service-btn {
    background-color: #DCE4FE;
    width: 200px;
    margin: 50px auto;
}

.youtube-box .service-btn a {
    padding: 10px 20px;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 600;
    color: #001E63;
    text-align: center;
}

.youtube-box .service-btn a:hover {
    text-decoration: underline;
}