@charset "UTF-8";


section {}

article.gate {
    width: 100%;
    margin: 100px 0;
    background: url(../img/02_heritage/main.jpg) center bottom;
}

article.gate h2 {
    font-family: "Bona Nova SC", serif;
    font-size: 50px;
    font-size: 3.125rem;
    color: #fff;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 50px;

}

article.gate p {
    font-size: 18px;
    font-size: 1.125rem;
    color: #fff;
    text-align: center;

    position: relative;
    /* 가상요소 기준 */
}

article.gate p::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;

    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, 50%);
}

article.heritage {
    margin-bottom: 200px;
    position: relative;
    /* .btn2의 기준 */
}

article.heritage .btn {
    margin-bottom: 60px;
    text-align: center;
}

article.heritage .btn a {
    display: inline-block;
    width: 70px;
    padding: 6px 15px;
    margin-left: 20px;
    border: 2px solid #001E63;
    border-radius: 30px;

    font-size: 18px;
    font-size: 1.125rem;
    color: #555;
    font-weight: 600;
}

article.heritage .btn .on {
    background-color: #001E63;
    color: #fff;
}


/* ---------------------.container 시작!!!---------------------- */

article.heritage .container {
    background: url(../img/02_heritage/bg.png) no-repeat;
    height: 1280px;

    position: relative; /* .cate 기준! */
}

article.heritage .container .num-box {
}

.container .num-box .cate {
    outline: 2px solid blue;
}

.container .num-box .cate:nth-child(2) {
    position: absolute;
    left: 20.4%;
    bottom: 9.5%;
}

.container .num-box .cate:nth-child(3), 
.container .num-box .cate:nth-child(5) {
    display: none;

    position: absolute;
    left: 20.4%;
    bottom: 9.5%;
}

.container .num-box .cate:nth-child(4) {
    position: absolute;
    left: 20.4%;
    top: 7%;
}


.container .num-box .cate::after {
    content: "";
    display: block;
    clear: both;
}

.num-box .cate .circle {
    width: 16px;
    height: 16px;
    background-color: #c0c0c0;
    border-radius: 10px;
    float: left;

    margin-top: 42px;
    margin-right: 24px;
}

.num-box .cate .num {
    font-size: 60px;
    font-size: 3.75rem;
    font-weight: 600;
    color: #c0c0c0;
    float: left;
}

/* --------------------.active------------------------------- */

.container .num-box .active {
    position: absolute;
    left: 32.5%;
    top: 45%;
}

.container .num-box .active .circle {
    background-color: #001E63;
    margin-top: 37px;
    margin-right: 24px;
    width: 26px;
    height: 26px;
    border-radius: 20px;
}

.container .num-box .active .num {
    color: #001E63;
}


article.heritage .container .txt-box {
    position: relative; /* .btn2 기준 */
    right: -28%;
    top: 26%;

    /* slide 공간 */
    width: 50%;
    margin-left: 15%;
    max-width: 800px;
    height: 50%;

    /* overflow: hidden; */
    outline: 2px solid red;
}

.container .txt-box ul {
    /* 전체 부모 공간 */
    height: 400%;

    outline: 2px solid plum;
}

.container .txt-box ul li {
    /* 각 슬라이드 공간 */
    height: 25%;
}

.txt-box ul li img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.txt-box ul li .tit {
    font-weight: 600;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 50px;
}

.txt-box ul li p {
    font-size: 18px;
    font-size: 1.125rem;
    word-break: keep-all;
}







/* ---------------------------.btn2----------------------------- */

.btn2 {
    position: absolute;
    right: 16.4%;
    top: 18%;
}

.btn2 .prev {
    padding-right: 20px;
    display: inline-block;
    width: 64px;
    height: 64px;
    font-size: 0;
    background: url(../img/02_heritage/prev.png) no-repeat;
}

.btn2 .next {
    display: inline-block;
    width: 64px;
    height: 64px;
    font-size: 0;
    background: url(../img/02_heritage/next.png) no-repeat;
}