@charset "utf-8";

article.benefit {
    margin-top: 100px;
    padding-top: 100px;
}

article.benefit .title {
    text-align: center;
    margin-bottom: 50px;
}

article.benefit .title h2 {
    font-size: 46px;
    font-size: 2.875rem;
    font-weight: 700;
}

article.benefit .img-dump {
    position: relative; /* div:first-child, div:last-child 기준 */
}

article.benefit .img-dump img {
    display: block;
    width: 100%;
}

article.benefit .img-dump div:first-child {
    position: absolute;
    left: -1.5%;
    top: -15%;

    rotate: -13deg;
}

article.benefit .img-dump div:last-child {
    position: absolute;
    right: -3%;
    bottom: -9%;

    rotate: 11deg;
}

article.benefit .btn {
    width: 400px;
    background-color: #001E63;
    margin: 30px auto 60px;
}

article.benefit .btn a {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}

article.info {
    margin-bottom: 200px;
}
article.info .level img {
    display: block;
    width: 100%;
}

article.info .des {}
article.info .des ul {}
article.info .des ul li {
    list-style: circle;
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 300;
}