@charset "utf-8";

body {
    overflow-x: hidden;
}

article.gate {
    width: 100%;
    margin-top: 100px;
    background: url(../img/03_sustainability/main.jpg) no-repeat bottom;
    margin-bottom: 100px;
}

article.gate .bg h2 {
    font-size: 44px;
    font-size: 2.75rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 50px;
}

article.gate .bg p {
    font-size: 18px;
    font-size: 1.125rem;
    color: #fff;
    text-align: center;

    position: relative;
    /* 가상요소 기준 */
}

article.gate p::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;

    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, 50%);
}


/* ---------------------recycle------------------------- */
article.recycle {
    margin-bottom: 200px;
}

article.recycle .cycle-title {
    text-align: center;
    margin-bottom: 30px;
}

article.recycle .cycle-title h2 {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 700;
}

article.recycle .cycle-title h3 {
    font-size: 30px;
    font-size: 1.875rem;
    margin-bottom: 20px;
}

article.recycle .cycle-title p {
    font-size: 18px;
    font-size: 1.125rem;
}

article.recycle .recycle-img-box {
    margin-bottom: 20px;
}

article.recycle .recycle-img-box img {
    display: block;
    margin: 0 auto;
    /*  outline: 2px solid blue; */
}

article.recycle .circle-box {
    position: relative;
    /* .circle 기준 */
    height: 550px;
    margin-bottom: 100px;
}

article.recycle .circle-box .circle {
    float: left;
    width: 19.2%;

    position: relative;
    /* 가상요소 기준 */
    /*  outline: 2px dotted red; */
}


article.recycle .circle-box .circle~.circle {
    margin-left: 1%;
}

article.recycle .circle-box .even {
    margin-top: 15%;
}

.circle-box .circle .img-box {
    text-align: center;
    position: relative;
    /* .yellow-circle 기준! */
    /* outline: 2px solid greenyellow; */
}

.circle-tit {
    text-align: center;
}

.circle-tit .recycle-tit {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.circle-tit .des {
    word-break: keep-all;
    display: none;
    position: relative;
    /* 가상요소 기준 */
}

.circle-tit .des::before {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #999;
    display: block;

    position: absolute;
    left: 50%;
    top: -25%;
    transform: translate(-50%);
}

.circle:hover .circle-tit .des {
    display: block;
}

.circle:hover .yellow-circle {
    width: 100%;
    max-width: 224px;
    height: 100%;
    max-height: 224px;
    outline: 10px solid #FDB01F;
    border-radius: 50%;

    position: absolute;
    left: 4.2%;
    top: 4.2%;
}

.circle-box .circle .img-box img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}


section.esg {
    background: url(../img/03_sustainability/bg.png) no-repeat top;
    width: 100%;
    /* height: 1920px; */
}

article.materials {
    width: 80%;
    max-width: 1280px;
    margin: 100px auto;
    padding-bottom: 200px;
}

article.materials .container {
    padding-bottom: 100px;
    background-color: #fff;

    position: relative;
    /* a버튼 기준 */
    /* outline: 2px solid lime; */
}

.container .txt-box {
    float: left;
    width: 50%;
    max-width: 630px;

    padding-left: 30px;
    box-sizing: border-box;
}

.container .txt-box h2 {
    font-size: 44px;
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 50px;
}

.txt-box h3 {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 50px;
}

.txt-box p {}

article.materials .materials-img {
    float: right;
    width: 50%;
    max-width: 630px;
}

article.materials .materials-img img {
    width: 100%;
    display: block;
}

article.materials a {
    color: #333;
    padding-left: 30px;
    margin-bottom: 20px;
    font-weight: 600;

    position: absolute;
    left: 0;
    bottom: 15%;
}

article.materials a .arrow {
    margin-top: 10px;
    width: 136px;
    height: 1px;
    background-color: #333;
    display: block;

    position: relative;
    /* after기준 */
}

article.materials a .arrow::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    transform: rotate(45deg);

    position: absolute;
    right: 0;
    top: -5px;
}



/* ------------------------.roadtrip----------------------- */

article.roadtrip {
    width: 80%;
    max-width: 1280px;
    margin: 100px auto 0;
    padding-bottom: 200px;
}

article.roadtrip .roadtrip-title {
    text-align: center;
    margin-bottom: 100px;
}

article.roadtrip .roadtrip-title h2 {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 700;
}

article.roadtrip .roadtrip-title p {
    font-size: 22px;
    font-size: 1.375rem;
    margin-bottom: 100px;
}


/* -------------------------------.road------------------------------- */
article.roadtrip .road {
    height: 300px;
    /*  outline: 2px solid red; */
    position: relative;
    /* .achieve, 가상요소 기준 */
}

article.roadtrip .road::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #999;
    display: block;

    position: absolute;
    left: 45%;
    top: 60%;
    /* transform: translateY(-50%); */
}

article.roadtrip .road .achieve {
    outline: 2px solid blue;
    /* display: inline-block; */

}

.road .achieve .goal-des {
    outline: 2px solid lime;
   /*  display: none; */
}

.road .achieve .year {

    outline: 2px solid salmon;
    
    font-size: 26px;
    font-weight: 600;
    position:relative;

}

.road .achieve .dot {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: #001E63;
    display: block;
    margin-top: 50px;
}

article.roadtrip .road .achieve:first-child {
    position: absolute;
    left: 44.5%;
    top: 12.5%;
}



/* article.roadtrip .road .active {
    position: relative; 가상요소 기준
}

article.roadtrip .road .active .dot {
    background-color: #001E63;

} */

.road .achieve::after {
    content: "";
    width: 100px;
    height: 100px;
    background: url(../img/03_sustainability/road_trip.png) no-repeat;

    position: absolute;
    left: -15.3%;
    top: 67%;
}

/* article.roadtrip .road .active>.goal {
    opacity: 1;
}

article.roadtrip .road .achieve:first-child {
    position: absolute;
    left: 44.5%;
    top: 8.5%;
}

article.roadtrip .road .achieve:nth-child(2) {
    position: absolute;
    left: 64%;
    top: 57.5%;
}

article.roadtrip .road .achieve:nth-child(2) .dot {
    margin-top: 0;
    margin-bottom: 50px;
}

article.roadtrip .road .achieve:last-child {
    position: absolute;
    right: 0;
    top: 17%;
}

.road .achieve .dot {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: #ccc;
    display: block;
    margin-top: 50px;
}

.road .achieve .goal {}

.road .achieve .goal .year {
    font-weight: 600;
    font-size: 24px;
    font-size: 1.5rem;

    margin-bottom: 10px;
}

.road .achieve .goal p {
    font-size: 18px;
    font-size: 1.125rem;

}

.road .achieve .goal ul {
  
}

.road .achieve .goal ul li {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 10px;
}
 */
/* .road .achieve .goal .goal-des {
    display: none; 
} */